WEATHER_INPUT_CSV="./examples/itinerary.sample.csv"
WEATHER_OUTPUT_DIR="./output"
WEATHER_CACHE_DIR="./.cache"
WEATHER_SLACK_WEBHOOK_URL=""
WEATHER_NOTION_TOKEN=""
WEATHER_NOTION_PARENT_PAGE_ID=""
WEATHER_LOW_TEMP_THRESHOLD="14"
WEATHER_HIGH_TEMP_THRESHOLD="28"
WEATHER_GEOCODE_LANGUAGE="ja"
